<form class="container" [formGroup]="nameForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3 d-flex justify-content-center mt-5">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <label for="name-form" class="form-label fs-5">Username</label>
      <input
        class="form-control mb-2"
        id="name-form"
        formControlName="nameForm"
        required
        [class.is-invalid]="
          nameForm.get('nameForm')?.invalid &&
          (nameForm.get('nameForm')?.touched || submitted)
        "
      />
      <div
        class="invalid-feedback"
        *ngIf="
          nameForm.get('nameForm')?.invalid &&
          (nameForm.get('nameForm')?.touched || submitted)
        "
      >
        Username is required
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitted = true">
        Submit
      </button>
    </div>
  </div>
</form>
