<div class="container">
  <h1 class="text-center text-secondary mt-3">Rate Track</h1>
  <p class="text-center lead">
    enter your username and enjoy tracking exchange rates
  </p>
</div>

<form class="container pt-5" [formGroup]="username" (ngSubmit)="onSubmit()">
  <div class="row mb-3 d-flex justify-content-center mt-5">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <label for="username-form" class="form-label fs-5">Username</label>
      <input
        class="form-control mb-2"
        id="username-form"
        formControlName="userForm"
        required
        [class.is-invalid]="
          username.get('userForm')?.invalid &&
          (username.get('userForm')?.touched || submitted)
        "
      />
      <div
        class="invalid-feedback"
        *ngIf="
          username.get('userForm')?.invalid &&
          (username.get('userForm')?.touched || submitted)
        "
      >
        Username is required
      </div>
      <button type="submit" class="btn btn-primary" (click)="submitted = true">
        Submit
      </button>
    </div>
  </div>
</form>
