<div class="container mt-1 text-center">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Welcome, {{ authenticatedUser }}!</h4>
    <p>
      Aww yeah, You have been successfully authenticated. Now, in the lobby
      zone, choose what kind of currency rate you would like to track.
    </p>
  </div>
</div>
<div class="text-center mt-5">
  <p>
    <a
      href="#"
      class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-2"
      >Crypto</a
    >
  </p>
</div>
